@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$host-primary: (
    50 : #f6fbfb,
    100 : #e8f5f4,
    200 : #d9efed,
    300 : #c9e9e6,
    400 : #bee4e0,
    500 : #b2dfdb,
    600 : #abdbd7,
    700 : #a2d7d2,
    800 : #99d2cd,
    900 : #8acac4,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #f6fffe,
    A700 : #dcfffc,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
  )
);

$host-accent: (
    50 : #fffefb,
    100 : #fffdf6,
    200 : #fffcf0,
    300 : #fffaea,
    400 : #fff9e6,
    500 : #fff8e1,
    600 : #fff7dd,
    700 : #fff6d9,
    800 : #fff5d5,
    900 : #fff3cd,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$hostworld-primary: mat-palette($host-primary, 700, 300, 900); // (pallete, default, light, dark)
$hostworld-accent:  mat-palette($host-accent, 500);

// The warn palette is optional (defaults to red).
$hostworld-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$hostworld-theme: mat-light-theme($hostworld-primary, $hostworld-accent, $hostworld-warn);


@import './app/navigation/nav-tabs/nav-tabs.component-theme.scss';

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($hostworld-theme);
// Navtabs component scss
@include navtabs-component-theme($hostworld-theme);


// All custom styling comes here...
.mat-list-option:hover,
.mat-list-option.mat-list-item-focus,
.mat-nav-list .mat-list-item:hover,
.mat-nav-list .mat-list-item.mat-list-item-focus {
    background-color: mat-color($hostworld-primary, 300);
    color: mat-color($hostworld-primary, 900);
}