<div class="hero-container">
    <div class="book-now-container">
        <div fxFlex fxLayoutAlign="flex-end">
            <button class="book-now-button" mat-stroked-button color="primary">
                Book Now
            </button>
        </div>
    </div>
    <div class="header-container" fxLayout="column" fxLayoutAlign="end center">
        
            <h2 class="mat-display-1">
                Luxory beach front resort
            </h2>
            <h1 class="mat-display-4">
                Natai Beach <br/> Resort &amp; Spa
            </h1>
        
    </div>
    <div class="thailand">
        <h3>thailand</h3>
    </div>
</div>

<section class="home-section">
    <div fxLayout="column" fxLayoutAlign="center center">
        <div>
            <h2 class="mat-subheading-2">
                Luxury beach front Resort
            </h2>
        </div>
        <div>
            <h3 class="mat-subheading-3">
                Asia's Tropical paradise
            </h3>
        </div>
        <div>
            <p class="mat-body-1">
                is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
            </p>
        </div>
    </div>
    <div class="rooms-home-display" fxLayou.sm="column" fxFlexLayoutWrap fxLayoutGap="2%" fxLayoutAlign="center center">
        <mat-card class="rooms-suites" fxFlex="40" fxFlex.sm="80">
            <mat-card-header fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
                <h2>Rooms &amp; Suites</h2>
            </mat-card-header>
            <mat-card-actions fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
                <button mat-raised-button color="primary">Explore</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="beach-houses" fxFlex="40" fxFlex.sm="80">
                <mat-card-header fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
                    <h2>Rooms &amp; Suites</h2>
                </mat-card-header>
                <mat-card-actions fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
                    <button mat-raised-button color="primary">Explore</button>
                </mat-card-actions>
            </mat-card>
    </div>
    
</section>