<div class="hero-container">
    <div class="book-now-container">
        <div fxFlex fxLayoutAlign="flex-end">
            <button class="book-now-button" mat-stroked-button color="primary">
                Book Now
            </button>
        </div>
    </div>
    <div class="header-container" fxLayout="column" fxLayoutAlign="end center">
        
            <h2 class="mat-display-1">
                Luxory beach front resort
            </h2>
            <h1 class="mat-display-4">
                Natai Beach <br/> Resort &amp; Spa
            </h1>
        
    </div>
    <div class="thailand">
        <h3>thailand</h3>
    </div>
</div>